# [1] 프로젝트 공통 & 보안
.env
.DS_Store
data/
docker-config/data/
node_modules/

# [2] Java / Gradle (서버용)
.gradle/
build/
bin/
out/
*.class
*.logtarget
!gradle/wrapper/gradle-wrapper.jar

# [3] IDE (개발 도구)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
